@import "tailwindcss";

body {
  background-color: #141414;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  /* 크롬, 사파리, 오페라에서 스크롤바 숨기기 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* 파이어폭스, IE, 엣지에서 스크롤바 숨기기 */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@keyframes radialIn {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes radialOut {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}

/* 커스텀 유틸리티 클래스 */
.animate-radialIn {
  animation: radialIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-radialOut {
  animation: radialOut 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}